* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Akshar', sans-serif;
    font-weight: 300;

    --color-primary: #000000;
    --color-secondary: #FFFFFF;
}

html {
     background: linear-gradient(to left top, #ffffff, #f1f0f9, #e1e1f4, #d1d2ee, #c0c4e9);
    background-attachment: fixed; /*edit*/
}

/*fading in and out of the grid*/

.show {
  opacity: 1;
  transition: opacity 2000ms;
}

.hide {
  opacity: 0;
  transition: opacity 2000ms;
}

main {
    width: 75%;
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    color: darkslategrey;

    margin: 20% auto;
/*
    padding-top: 1rem;
    padding-bottom:0;
    height: 200px; /*display h1 more centered
    line-height: 200px; /*display h1 more centered
    */
}

.hide-header {
    opacity: 0;
    transition: opacity 4000ms;
}

h3 {
    font-size: 3rem;
    letter-spacing: .1rem;
    text-align: center;
    color: #ffc3ab;

    padding-top: 1rem;
}

span {
    font-size: 2rem;
}

#memory {
    text-decoration: underline black;
}

/*--------------------Tutorial styles*/

#grid {
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    padding-top: 0;
}

.grid-end {
    padding-left: 1rem;
    transition: padding-left 4000ms;
    /*transform: scale(1.3);
    transition: transform 4000ms;*/
}

img {
    cursor:pointer;
    /*filter:grayscale(1);*/
}

.found {
    cursor:default;
    filter:grayscale(0);
}

.grid-item {
    border: 1px solid darkslategray;
    margin: .5rem;
    transition: border 4000ms;
    transition: margin 4000ms;
}

.grid-done {
    border: none;
    margin: 0em;
    transition: border 4000ms;
    transition: margin 4000ms;
}

